<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>

    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Labore, voluptatibus! Non, unde ab! In similique dignissimos dolorum. Dolore velit qui, voluptatibus excepturi nesciunt, aperiam tempore illum dignissimos explicabo iure consectetur?</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Labore, voluptatibus! Non, unde ab! In similique dignissimos dolorum. Dolore velit qui, voluptatibus excepturi nesciunt, aperiam tempore illum dignissimos explicabo iure consectetur?</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Labore, voluptatibus! Non, unde ab! In similique dignissimos dolorum. Dolore velit qui, voluptatibus excepturi nesciunt, aperiam tempore illum dignissimos explicabo iure consectetur?</p>
    </div>

    <%- include('./partials/footer.ejs') %>

</body>

</html>